body{
    @include backgroundImage;
    margin:0;
    font-family: $body-font;
    font-size:1em;
    line-height:2em;
}

main{
    width:940px;
    @include break(959px) {
        width:768px;
    }
    @include break(767px) {
        width:460px;
    }
    @include break(459px) {
        width:300px;
    }
    margin:0 auto;
    padding:0 10px;
}

/* FOOTER */
.greybar{
    width:100%;
    height:90px;
    background: $graybar;
    clear:both;
    padding-top:30px;
    @include break(459px){
        display: none;
    }
}

article{
    img{
        display: none;
    }
}

footer{
    width:100%;
    height:120px;
    @include break(459px){
        text-align:center;
        height: 200px;
    }
    background: $footer;
    text-align:center;
    color: $white;
    padding-top:50px;
}
.social-media{

    margin:0 auto;
    width:165px;
    @include clearfix;
    div{
        float:left;
        margin-right:5px;
        @include break(959px){
            @include imageGrid(4, 2%);
        }
        @include break(767px) {
            @include imageGrid(2, 2%);
        }
        @include break(459px) {
            @include imageGrid(1, 2%);
        }
    }
    a{
        display:block;
        width:36px;
        height:36px;
        text-indent:-9999px;
    }

    @each $name, $value in $divs {
        div.#{$name} {
            background: $value no-repeat;
        }
    }
}



