header{
    width:inherit;
    clear:both;
    text-align:center;
    padding-top:40px;
    img{
        max-width:100%;
        height:auto;
        @include break(767px){
            margin-bottom:100px;
        }

        @include break(459px){
            margin-bottom:80px;
        }
    }
    p{
        @include break(459px){
            float:none;margin:0;
        }
    }

    @for $item from 1 through length($heading-colors){
        h#{$item} {
            color: nth($heading-colors, $item );
        }
    }

    h1{
        font-weight:100;
        font-size:4em;
        line-height:0;
        @include break(959px){
            font-size:3em;
        }
        @include break(767px){
            font-size:2em;
        }
        &:first-child{
            @include break(459px){
                font-size:1.4em;
                margin-bottom:20px;
            }
        }
    }

    h2{
        font-weight:900;
        font-size:2.5em;
        line-height:0;
        margin-bottom:70px;
        @include break(959px){
            font-size:1.5em;
        }
        @include break(767px){
            font-size:1em;
        }
        @include break(459px){
            font-size:1.4em;
        }
    }
    h3{
        font-weight:400;
        font-size:2em;
        line-height:0;
        margin-bottom:50px;
        @include break(767px){
            font-size:1.5em;
        }

        @include break(459px){
            color:$white;
            font-size:1em;
        }
    }
}